<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Signup Page</h2>
            <form action="/user/signup" method="POST">
                <div class="form-group row">
                    <label for=""> Username</label>
                    <input type="text" class="form-control" name="Name" placeholder="Enter Username">

                </div><br>
                <div class="form-group row">
                    <label for="">Email Address</label>
                    <input type="email" class="form-control" name="Email" placeholder="Enter emailaddress">

                </div><br>
                <div class="form-group row">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                </div>
                <br>
                <a href="/signup">Already have an account?</a>
                <button type="submit" class="btn btn-primary float-end" >Signup</button>
            </form>
        </div>
    </div>

</div>